{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block head %}six degrees of subreddits{% endblock %}

{% block head_extra %}
{{ form.media }}
{% endblock %}

<script>
{% block jquery %}
		$(document).ready(function(){


$("#sr1-random").click(function(){
  this_ = $(this).parent().parent().children().first()
  $.get('/api/get_random/', function(data, status) {
    this_.val(data)
  })
})

$("#sr2-random").click(function(){
  this_ = $(this).parent().parent().children().first()
  $.get('/api/get_random/', function(data, status) {
    this_.val(data)
  })
})

function updateText(btn, newCount){
	btn.text(newCount)
	btn.attr('data-like', newCount)
}


$(".up-vote").each(function(index){
	$(this).click(function(e){
		e.preventDefault()
		var this_ = $(this)
		var likeCountSpan = this_.parent().next()
		var likeCount = parseInt(this_.parent().next().text())
		var likeUrl = this_.attr("data-href")
		if (likeUrl){
			$.ajax({
				url: likeUrl,
				method: "GET",
				data: {},
				success: function(data){
					updateText(likeCountSpan, data)

				}
			})
		}

	})
	$(this).attr("applied", 'true')
})


$(".down-vote").each(function(index){
	$(this).click(function(e){
		e.preventDefault()
		var this_ = $(this)
		var likeCountSpan = this_.prev()
		var likeCount = parseInt(this_.parent().next().text())
		var likeUrl = this_.attr("data-href")
		if (likeUrl){
			$.ajax({
				url: likeUrl,
				method: "GET",
				data: {},
				success: function(data){
					updateText(likeCountSpan, data)

				}
			})
		}

	})
	$(this).attr("applied", 'true')
})


$(function() {
  $("#subreddit1").autocomplete({
    source: "/api/get_subreddits/",
    minLength: 2,
  });

  $("#subreddit2").autocomplete({
    source: "/api/get_subreddits/",
    minLength: 2,
  });
});

})
{% endblock %}
</script>

{% block content %}

<h2>six degrees of separation on reddit.com</h2>
<p>enter two subreddits below and find the shortest path of related subreddits that join them</p>
<br />
<form method="GET" action=".">
  <div class="row button-wrapper">
    <div class="col-md-5">
      <div class="input-group">
  <input id="subreddit1" class="form-control" type="text" name="sr1" value='{{ request.GET.sr1 }}' placeholder="start typing a subreddit...">
      <span class="input-group-btn">
        <button id="sr1-random" class="btn btn-default" type="button">random 🔄</button>
      </span>
    </div>
</div>

<div class="col-md-5">
  <div class="input-group">
    <input id="subreddit2" class="form-control" type="text" name="sr2" value='{{ request.GET.sr2 }}' placeholder="type another subreddit">
    <span class="input-group-btn">

      <button id="sr2-random" class="btn btn-default" type="button">random 🔄</button>
    </span>
  </div>
  </div>
  <div class="col-md-2">
    <input type="submit" class="btn btn-info" value="find the shortest path 🔎"></input>
  </div>
  </div>
</form>

<hr>

<div style="margin: auto;" class="row">
<ul style="margin: auto;" class="nav nav-tabs navbar-right" role="tablist">
	<li role="presentation"><a href="{% url 'srgraph:srgraph' %}"><span class="badge"></span>new 🕰</a></li>
	<li role="presentation" class="active"><a  href="#popular" aria-controls="recent" role="tab" data-toggle="tab"><span class="badge"></span>hot 🔥</a></li>
	<li role="presentation"><a href="#about" aria-controls="about" role="tab" data-toggle="tab"><span class="badge"></span>about 💬</a></li>
	<li role="presentation"><a href="#code" aria-controls="code" role="tab" data-toggle="tab"><span class="badge"></span>code 💻</a></li>

</ul>
</div>
<br />

<div class="tab-content">

  <div role="tabpanel" class="tab-pane active" id="popular">

<div class="infinite-container">
{% for search_result in results %}
<div class="infinite-item">
<div class="row" style="font-size:1.25em; text-align:center;">
  <div class="col-md-3"></div>
  <div style="text-align:center;" class="col-md-2">
  <a class="btn btn-success" href="{{ search_result.s_one.reddit_link }}" target="_blank">{{ search_result.s_one }}</a>
</div>
<div class="col-md-2">
➡️&nbsp;
</div>
<div style="text-align:center;" class="col-md-2">
<a class="btn btn-danger" href="{{ search_result.s_two.reddit_link }}" target="_blank">{{ search_result.s_two }}</a>
</div>
<div class="col-md-3"></div>
</div>

<span style="text-align:center;">
<p>
<p style="font-size:1.5em;"><span style="text-decoration:none;"><a applied='false' style="text-decoration:none;" class="up-vote" vote-count={{ search_result.votes }} data-href="{{ search_result.api_like_link }}" href="{% url 'srgraph:upvote' id=search_result.id %}">👍</a></span>
&nbsp;<span id="vote-count">{{ search_result.votes }}</span> <a applied='false' style="text-decoration:none;" class="down-vote" vote-count={{ search_result.votes }} data-href="{{ search_result.api_dislike_link }}" href="{% url 'srgraph:downvote' id=search_result.id %}">👎</a>&nbsp;&nbsp;</p>
</span>

<div style="text-align:center;" class="button-wrapper">
{% for sr in search_result.get_list %}
<span style="font-size:1.25em;">👉</span> <a href="{{ sr.sr.reddit_link }}" target="_blank" class="btn btn-default">{{ sr.sr }}</a>
{% endfor %}
</div>

<span style="font-size:.5em">
<br />
</span>
<div style="text-align:center;">
<small>last searched {{ search_result.last_searched | timesince }} ago<br /></small><a href="{% url 'srgraph:view_result' id=search_result.id sbr1=search_result.s_one.simple_name sbr2=search_result.s_two.simple_name %}"><strong>share / comment</strong></a>
</div>

<hr>
</div>
{% endfor %}
</div>

{% if results.has_next %}
	<a class="infinite-more-link" href="?page={{ results.next_page_number }}"></a>
{% endif %}


<div class="loading" style="display: none; text-align:center;">
<span id="loading-animation" style="font-size:3em;">
	⏳
</span>
</div>
</div>


<div role="tabpanel" class="tab-pane" id="about">
{% include 'srgraph/about_extra.html' %}
</div>

<div role="tabpanel" class="tab-pane" id="code">
	{% include 'srgraph/code_extra.html' %}
</div>
</div>

<script>
var infinite = new Waypoint.Infinite({
  element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },

      onAfterPageLoad: function ($items) {

				function updateText(btn, newCount){
					btn.text(newCount)
					btn.attr('data-like', newCount)
				}

				$(".up-vote").each(function(index){
					var value = $(this).attr("applied")
					if ( value == 'false' ) {
					$(this).click(function(e){
						e.preventDefault()
						var this_ = $(this)
						var likeCountSpan = this_.parent().next()
						var likeCount = parseInt(this_.parent().next().text())
						var likeUrl = this_.attr("data-href")
						if (likeUrl){
							$.ajax({
								url: likeUrl,
								method: "GET",
								data: {},
								success: function(data){
									updateText(likeCountSpan, data)

								}
							})
						}

					})
				}
				$(this).attr("applied", 'true')
				})


				$(".down-vote").each(function(index){
					var value = $(this).attr("applied")
					if ( value == 'false' ) {
					$(this).click(function(e){
						e.preventDefault()
						var this_ = $(this)
						var likeCountSpan = this_.prev()
						var likeCount = parseInt(this_.parent().next().text())
						var likeUrl = this_.attr("data-href")
						if (likeUrl){
							$.ajax({
								url: likeUrl,
								method: "GET",
								data: {},
								success: function(data){
									updateText(likeCountSpan, data)
								}
							})
						}
					})
				}
				$(this).attr("applied", 'true')
				})
        $('.loading').hide();
      }
})
</script>

{% endblock %}
