{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block head_extra %}
{{ form.media }}
{% endblock %}

<script>
{% block jquery %}
		$(document).ready(function(){
$(function() {
  $("#subreddit1").autocomplete({
    source: "/api/get_drugs/",
    minLength: 2,
  });
});

})
{% endblock %}
</script>

{% block content %}

<h2>subreddit graph analysis</h2>
<p>This is a project I did earlier this year that explores the graph of related communities on reddit.com. subreddits, as they are called, often link to other related subreddits in their descriptions. starting with the 50 subreddits that are shown by default for guests, I wrote a bot that recursively collected data on selected subreddits and gathered the data into a graph with a python package called NetworkX.
<p>the example below selects two subreddits at random and calculates the shortest path between the pair.</p>
<br />
<blockquote>
{{ results }}
</blockquote>
<br />
<form method="GET" action=".">
  <div class="row">
    <div class="col-md-3 col-md-offset-2">
  <input class="form-control" type="text" placeholder="enter a subreddit">
</div>
<div class="col-md-3">
    <input id="subreddit1" class="form-control" type="text" placeholder="enter another a subreddit">
  </div>
  <div class="col-md-2">
    <input id="subreddit2"type="submit" class="btn btn-success">
  </div>
</div>
</form>

{% endblock %}
