<a type="button" region="south-asia" id="af" country="afghanistan" class="flagbtn" href="#afghanistan" data-toggle="modal" data-target="#myModal-flagdata">🇦🇫</a>
<a type="button" region="europe" id="al" country="albania" class="flagbtn" href="#albania" data-toggle="modal" data-target="#myModal-flagdata">🇦🇱</a>
<a type="button" region="africa" id="ag" country="algeria" class="flagbtn" href="#algeria" data-toggle="modal" data-target="#myModal-flagdata">🇦🇬</a>
<a type="button" region="africa" id="ao" country="angola" class="flagbtn" href="#angola" data-toggle="modal" data-target="#myModal-flagdata">🇦🇴</a>
<a type="button" region="south-america" id="ar" country="argentina" class="flagbtn" href="#argentina" data-toggle="modal" data-target="#myModal-flagdata">🇦🇷</a>
<a type="button" region="middle-east" id="am" country="armenia" class="flagbtn" href="#armenia" data-toggle="modal" data-target="#myModal-flagdata">🇦🇲</a>
<a type="button" region="australia-oceania" id="as" country="australia" class="flagbtn" href="#australia" data-toggle="modal" data-target="#myModal-flagdata">🇦🇸</a>
<a type="button" region="europe" id="au" country="austria" class="flagbtn" href="#austria" data-toggle="modal" data-target="#myModal-flagdata">🇦🇺</a>
<a type="button" region="central-america-n-caribbean" id="bf" country="bahamasthe" class="flagbtn" href="#bahamasthe" data-toggle="modal" data-target="#myModal-flagdata">🇧🇫</a>
<a type="button" region="middle-east" id="ba" country="bahrain" class="flagbtn" href="#bahrain" data-toggle="modal" data-target="#myModal-flagdata">🇧🇦</a>
<a type="button" region="south-asia" id="bg" country="bangladesh" class="flagbtn" href="#bangladesh" data-toggle="modal" data-target="#myModal-flagdata">🇧🇬</a>
<a type="button" region="central-america-n-caribbean" id="bb" country="barbados" class="flagbtn" href="#barbados" data-toggle="modal" data-target="#myModal-flagdata">🇧🇧</a>
<a type="button" region="europe" id="bo" country="belarus" class="flagbtn" href="#belarus" data-toggle="modal" data-target="#myModal-flagdata">🇧🇴</a>
<a type="button" region="europe" id="be" country="belgium" class="flagbtn" href="#belgium" data-toggle="modal" data-target="#myModal-flagdata">🇧🇪</a>
<a type="button" region="central-america-n-caribbean" id="bh" country="belize" class="flagbtn" href="#belize" data-toggle="modal" data-target="#myModal-flagdata">🇧🇭</a>
<a type="button" region="africa" id="bn" country="benin" class="flagbtn" href="#benin" data-toggle="modal" data-target="#myModal-flagdata">🇧🇳</a>
<a type="button" region="south-asia" id="bt" country="bhutan" class="flagbtn" href="#bhutan" data-toggle="modal" data-target="#myModal-flagdata">🇧🇹</a>
<a type="button" region="south-america" id="bl" country="bolivia" class="flagbtn" href="#bolivia" data-toggle="modal" data-target="#myModal-flagdata">🇧🇱</a>
<a type="button" region="south-america" id="br" country="brazil" class="flagbtn" href="#brazil" data-toggle="modal" data-target="#myModal-flagdata">🇧🇷</a>
<a type="button" region="east-n-southeast-asia" id="bm" country="burma" class="flagbtn" href="#burma" data-toggle="modal" data-target="#myModal-flagdata">🇧🇲</a>
<a type="button" region="africa" id="by" country="burundi" class="flagbtn" href="#burundi" data-toggle="modal" data-target="#myModal-flagdata">🇧🇾</a>
<a type="button" region="africa" id="cm" country="cameroon" class="flagbtn" href="#cameroon" data-toggle="modal" data-target="#myModal-flagdata">🇨🇲</a>
<a type="button" region="north-america" id="ca" country="canada" class="flagbtn" href="#canada" data-toggle="modal" data-target="#myModal-flagdata">🇨🇦</a>
<a type="button" region="africa" id="cv" country="caboverde" class="flagbtn" href="#caboverde" data-toggle="modal" data-target="#myModal-flagdata">🇨🇻</a>
<a type="button" region="africa" id="cd" country="chad" class="flagbtn" href="#chad" data-toggle="modal" data-target="#myModal-flagdata">🇨🇩</a>
<a type="button" region="south-america" id="ci" country="chile" class="flagbtn" href="#chile" data-toggle="modal" data-target="#myModal-flagdata">🇨🇮</a>
<a type="button" region="east-n-southeast-asia" id="ch" country="china" class="flagbtn" href="#china" data-toggle="modal" data-target="#myModal-flagdata">🇨🇭</a>
<a type="button" region="south-america" id="co" country="colombia" class="flagbtn" href="#colombia" data-toggle="modal" data-target="#myModal-flagdata">🇨🇴</a>
<a type="button" region="africa" id="cn" country="comoros" class="flagbtn" href="#comoros" data-toggle="modal" data-target="#myModal-flagdata">🇨🇳</a>
<a type="button" region="africa" id="cg" country="congodemocraticrepublicofthe" class="flagbtn" href="#congodemocraticrepublicofthe" data-toggle="modal" data-target="#myModal-flagdata">🇨🇬</a>
<a type="button" region="africa" id="cf" country="congorepublicofthe" class="flagbtn" href="#congorepublicofthe" data-toggle="modal" data-target="#myModal-flagdata">🇨🇫</a>
<a type="button" region="europe" id="hr" country="croatia" class="flagbtn" href="#croatia" data-toggle="modal" data-target="#myModal-flagdata">🇭🇷</a>
<a type="button" region="central-america-n-caribbean" id="cu" country="cuba" class="flagbtn" href="#cuba" data-toggle="modal" data-target="#myModal-flagdata">🇨🇺</a>
<a type="button" region="europe" id="cy" country="cyprus" class="flagbtn" href="#cyprus" data-toggle="modal" data-target="#myModal-flagdata">🇨🇾</a>
<a type="button" region="africa" id="dj" country="djibouti" class="flagbtn" href="#djibouti" data-toggle="modal" data-target="#myModal-flagdata">🇩🇯</a>
<a type="button" region="central-america-n-caribbean" id="do" country="dominica" class="flagbtn" href="#dominica" data-toggle="modal" data-target="#myModal-flagdata">🇩🇴</a>
<a type="button" region="south-america" id="ec" country="ecuador" class="flagbtn" href="#ecuador" data-toggle="modal" data-target="#myModal-flagdata">🇪🇨</a>
<a type="button" region="africa" id="eg" country="egypt" class="flagbtn" href="#egypt" data-toggle="modal" data-target="#myModal-flagdata">🇪🇬</a>
<a type="button" region="central-america-n-caribbean" id="es" country="elsalvador" class="flagbtn" href="#elsalvador" data-toggle="modal" data-target="#myModal-flagdata">🇪🇸</a>
<a type="button" region="africa" id="er" country="eritrea" class="flagbtn" href="#eritrea" data-toggle="modal" data-target="#myModal-flagdata">🇪🇷</a>
<a type="button" region="africa" id="et" country="ethiopia" class="flagbtn" href="#ethiopia" data-toggle="modal" data-target="#myModal-flagdata">🇪🇹</a>
<a type="button" region="australia-oceania" id="fj" country="fiji" class="flagbtn" href="#fiji" data-toggle="modal" data-target="#myModal-flagdata">🇫🇯</a>
<a type="button" region="europe" id="fi" country="finland" class="flagbtn" href="#finland" data-toggle="modal" data-target="#myModal-flagdata">🇫🇮</a>
<a type="button" region="europe" id="fr" country="france" class="flagbtn" href="#france" data-toggle="modal" data-target="#myModal-flagdata">🇫🇷</a>
<a type="button" region="africa" id="gb" country="gabon" class="flagbtn" href="#gabon" data-toggle="modal" data-target="#myModal-flagdata">🇬🇧</a>
<a type="button" region="africa" id="ga" country="gambiathe" class="flagbtn" href="#gambiathe" data-toggle="modal" data-target="#myModal-flagdata">🇬🇦</a>
<a type="button" region="middle-east" id="gg" country="georgia" class="flagbtn" href="#georgia" data-toggle="modal" data-target="#myModal-flagdata">🇬🇬</a>
<a type="button" region="europe" id="gm" country="germany" class="flagbtn" href="#germany" data-toggle="modal" data-target="#myModal-flagdata">🇬🇲</a>
<a type="button" region="africa" id="gh" country="ghana" class="flagbtn" href="#ghana" data-toggle="modal" data-target="#myModal-flagdata">🇬🇭</a>
<a type="button" region="europe" id="gr" country="greece" class="flagbtn" href="#greece" data-toggle="modal" data-target="#myModal-flagdata">🇬🇷</a>
<a type="button" region="central-america-n-caribbean" id="gt" country="guatemala" class="flagbtn" href="#guatemala" data-toggle="modal" data-target="#myModal-flagdata">🇬🇹</a>
<a type="button" region="south-america" id="gy" country="guyana" class="flagbtn" href="#guyana" data-toggle="modal" data-target="#myModal-flagdata">🇬🇾</a>
<a type="button" region="europe" id="hu" country="hungary" class="flagbtn" href="#hungary" data-toggle="modal" data-target="#myModal-flagdata">🇭🇺</a>
<a type="button" region="south-asia" id="in" country="india" class="flagbtn" href="#india" data-toggle="modal" data-target="#myModal-flagdata">🇮🇳</a>
<a type="button" region="east-n-southeast-asia" id="id" country="indonesia" class="flagbtn" href="#indonesia" data-toggle="modal" data-target="#myModal-flagdata">🇮🇩</a>
<a type="button" region="middle-east" id="ir" country="iran" class="flagbtn" href="#iran" data-toggle="modal" data-target="#myModal-flagdata">🇮🇷</a>
<a type="button" region="middle-east" id="is" country="israel" class="flagbtn" href="#israel" data-toggle="modal" data-target="#myModal-flagdata">🇮🇸</a>
<a type="button" region="europe" id="it" country="italy" class="flagbtn" href="#italy" data-toggle="modal" data-target="#myModal-flagdata">🇮🇹</a>
<a type="button" region="central-america-n-caribbean" id="jm" country="jamaica" class="flagbtn" href="#jamaica" data-toggle="modal" data-target="#myModal-flagdata">🇯🇲</a>
<a type="button" region="middle-east" id="jo" country="jordan" class="flagbtn" href="#jordan" data-toggle="modal" data-target="#myModal-flagdata">🇯🇴</a>
<a type="button" region="central-asia" id="kz" country="kazakhstan" class="flagbtn" href="#kazakhstan" data-toggle="modal" data-target="#myModal-flagdata">🇰🇿</a>
<a type="button" region="africa" id="ke" country="kenya" class="flagbtn" href="#kenya" data-toggle="modal" data-target="#myModal-flagdata">🇰🇪</a>
<a type="button" region="australia-oceania" id="kr" country="kiribati" class="flagbtn" href="#kiribati" data-toggle="modal" data-target="#myModal-flagdata">🇰🇷</a>
<a type="button" region="east-n-southeast-asia" id="kn" country="koreanorth" class="flagbtn" href="#koreanorth" data-toggle="modal" data-target="#myModal-flagdata">🇰🇳</a>
<a type="button" region="central-asia" id="kg" country="kyrgyzstan" class="flagbtn" href="#kyrgyzstan" data-toggle="modal" data-target="#myModal-flagdata">🇰🇬</a>
<a type="button" region="east-n-southeast-asia" id="la" country="laos" class="flagbtn" href="#laos" data-toggle="modal" data-target="#myModal-flagdata">🇱🇦</a>
<a type="button" region="africa" id="lt" country="lesotho" class="flagbtn" href="#lesotho" data-toggle="modal" data-target="#myModal-flagdata">🇱🇹</a>
<a type="button" region="africa" id="li" country="liberia" class="flagbtn" href="#liberia" data-toggle="modal" data-target="#myModal-flagdata">🇱🇮</a>
<a type="button" region="africa" id="ly" country="libya" class="flagbtn" href="#libya" data-toggle="modal" data-target="#myModal-flagdata">🇱🇾</a>
<a type="button" region="europe" id="ls" country="liechtenstein" class="flagbtn" href="#liechtenstein" data-toggle="modal" data-target="#myModal-flagdata">🇱🇸</a>
<a type="button" region="europe" id="lu" country="luxembourg" class="flagbtn" href="#luxembourg" data-toggle="modal" data-target="#myModal-flagdata">🇱🇺</a>
<a type="button" region="europe" id="mk" country="macedonia" class="flagbtn" href="#macedonia" data-toggle="modal" data-target="#myModal-flagdata">🇲🇰</a>
<a type="button" region="africa" id="ma" country="madagascar" class="flagbtn" href="#madagascar" data-toggle="modal" data-target="#myModal-flagdata">🇲🇦</a>
<a type="button" region="east-n-southeast-asia" id="my" country="malaysia" class="flagbtn" href="#malaysia" data-toggle="modal" data-target="#myModal-flagdata">🇲🇾</a>
<a type="button" region="south-asia" id="mv" country="maldives" class="flagbtn" href="#maldives" data-toggle="modal" data-target="#myModal-flagdata">🇲🇻</a>
<a type="button" region="africa" id="ml" country="mali" class="flagbtn" href="#mali" data-toggle="modal" data-target="#myModal-flagdata">🇲🇱</a>
<a type="button" region="europe" id="mt" country="malta" class="flagbtn" href="#malta" data-toggle="modal" data-target="#myModal-flagdata">🇲🇹</a>
<a type="button" region="africa" id="mr" country="mauritania" class="flagbtn" href="#mauritania" data-toggle="modal" data-target="#myModal-flagdata">🇲🇷</a>
<a type="button" region="africa" id="mp" country="mauritius" class="flagbtn" href="#mauritius" data-toggle="modal" data-target="#myModal-flagdata">🇲🇵</a>
<a type="button" region="north-america" id="mx" country="mexico" class="flagbtn" href="#mexico" data-toggle="modal" data-target="#myModal-flagdata">🇲🇽</a>
<a type="button" region="australia-oceania" id="fm" country="micronesiafederatedstatesof" class="flagbtn" href="#micronesiafederatedstatesof" data-toggle="modal" data-target="#myModal-flagdata">🇫🇲</a>
<a type="button" region="europe" id="md" country="moldova" class="flagbtn" href="#moldova" data-toggle="modal" data-target="#myModal-flagdata">🇲🇩</a>
<a type="button" region="europe" id="mn" country="monaco" class="flagbtn" href="#monaco" data-toggle="modal" data-target="#myModal-flagdata">🇲🇳</a>
<a type="button" region="east-n-southeast-asia" id="mg" country="mongolia" class="flagbtn" href="#mongolia" data-toggle="modal" data-target="#myModal-flagdata">🇲🇬</a>
<a type="button" region="africa" id="mo" country="morocco" class="flagbtn" href="#morocco" data-toggle="modal" data-target="#myModal-flagdata">🇲🇴</a>
<a type="button" region="africa" id="mz" country="mozambique" class="flagbtn" href="#mozambique" data-toggle="modal" data-target="#myModal-flagdata">🇲🇿</a>
<a type="button" region="australia-oceania" id="nr" country="nauru" class="flagbtn" href="#nauru" data-toggle="modal" data-target="#myModal-flagdata">🇳🇷</a>
<a type="button" region="south-asia" id="np" country="nepal" class="flagbtn" href="#nepal" data-toggle="modal" data-target="#myModal-flagdata">🇳🇵</a>
<a type="button" region="europe" id="nl" country="netherlands" class="flagbtn" href="#netherlands" data-toggle="modal" data-target="#myModal-flagdata">🇳🇱</a>
<a type="button" region="australia-oceania" id="nz" country="newzealand" class="flagbtn" href="#newzealand" data-toggle="modal" data-target="#myModal-flagdata">🇳🇿</a>
<a type="button" region="central-america-n-caribbean" id="nu" country="nicaragua" class="flagbtn" href="#nicaragua" data-toggle="modal" data-target="#myModal-flagdata">🇳🇺</a>
<a type="button" region="africa" id="ng" country="niger" class="flagbtn" href="#niger" data-toggle="modal" data-target="#myModal-flagdata">🇳🇬</a>
<a type="button" region="africa" id="ni" country="nigeria" class="flagbtn" href="#nigeria" data-toggle="modal" data-target="#myModal-flagdata">🇳🇮</a>
<a type="button" region="europe" id="no" country="norway" class="flagbtn" href="#norway" data-toggle="modal" data-target="#myModal-flagdata">🇳🇴</a>
<a type="button" region="middle-east" id="mu" country="oman" class="flagbtn" href="#oman" data-toggle="modal" data-target="#myModal-flagdata">🇲🇺</a>
<a type="button" region="south-asia" id="pk" country="pakistan" class="flagbtn" href="#pakistan" data-toggle="modal" data-target="#myModal-flagdata">🇵🇰</a>
<a type="button" region="australia-oceania" id="ps" country="palau" class="flagbtn" href="#palau" data-toggle="modal" data-target="#myModal-flagdata">🇵🇸</a>
<a type="button" region="central-america-n-caribbean" id="pm" country="panama" class="flagbtn" href="#panama" data-toggle="modal" data-target="#myModal-flagdata">🇵🇲</a>
<a type="button" region="south-america" id="pa" country="paraguay" class="flagbtn" href="#paraguay" data-toggle="modal" data-target="#myModal-flagdata">🇵🇦</a>
<a type="button" region="south-america" id="pe" country="peru" class="flagbtn" href="#peru" data-toggle="modal" data-target="#myModal-flagdata">🇵🇪</a>
<a type="button" region="europe" id="pl" country="poland" class="flagbtn" href="#poland" data-toggle="modal" data-target="#myModal-flagdata">🇵🇱</a>
<a type="button" region="middle-east" id="qa" country="qatar" class="flagbtn" href="#qatar" data-toggle="modal" data-target="#myModal-flagdata">🇶🇦</a>
<a type="button" region="europe" id="ro" country="romania" class="flagbtn" href="#romania" data-toggle="modal" data-target="#myModal-flagdata">🇷🇴</a>
<a type="button" region="central-asia" id="rs" country="russia" class="flagbtn" href="#russia" data-toggle="modal" data-target="#myModal-flagdata">🇷🇸</a>
<a type="button" region="africa" id="rw" country="rwanda" class="flagbtn" href="#rwanda" data-toggle="modal" data-target="#myModal-flagdata">🇷🇼</a>
<a type="button" region="central-america-n-caribbean" id="sc" country="saintkittsandnevis" class="flagbtn" href="#saintkittsandnevis" data-toggle="modal" data-target="#myModal-flagdata">🇸🇨</a>
<a type="button" region="central-america-n-caribbean" id="st" country="saintlucia" class="flagbtn" href="#saintlucia" data-toggle="modal" data-target="#myModal-flagdata">🇸🇹</a>
<a type="button" region="central-america-n-caribbean" id="vc" country="saintvincentandthegrenadines" class="flagbtn" href="#saintvincentandthegrenadines" data-toggle="modal" data-target="#myModal-flagdata">🇻🇨</a>
<a type="button" region="australia-oceania" id="ws" country="samoa" class="flagbtn" href="#samoa" data-toggle="modal" data-target="#myModal-flagdata">🇼🇸</a>
<a type="button" region="europe" id="sm" country="sanmarino" class="flagbtn" href="#sanmarino" data-toggle="modal" data-target="#myModal-flagdata">🇸🇲</a>
<a type="button" region="middle-east" id="sa" country="saudiarabia" class="flagbtn" href="#saudiarabia" data-toggle="modal" data-target="#myModal-flagdata">🇸🇦</a>
<a type="button" region="africa" id="sg" country="senegal" class="flagbtn" href="#senegal" data-toggle="modal" data-target="#myModal-flagdata">🇸🇬</a>
<a type="button" region="africa" id="se" country="seychelles" class="flagbtn" href="#seychelles" data-toggle="modal" data-target="#myModal-flagdata">🇸🇪</a>
<a type="button" region="africa" id="sl" country="sierraleone" class="flagbtn" href="#sierraleone" data-toggle="modal" data-target="#myModal-flagdata">🇸🇱</a>
<a type="button" region="east-n-southeast-asia" id="sn" country="singapore" class="flagbtn" href="#singapore" data-toggle="modal" data-target="#myModal-flagdata">🇸🇳</a>
<a type="button" region="europe" id="si" country="slovenia" class="flagbtn" href="#slovenia" data-toggle="modal" data-target="#myModal-flagdata">🇸🇮</a>
<a type="button" region="africa" id="so" country="somalia" class="flagbtn" href="#somalia" data-toggle="modal" data-target="#myModal-flagdata">🇸🇴</a>
<a type="button" region="europe" id="sz" country="switzerland" class="flagbtn" href="#switzerland" data-toggle="modal" data-target="#myModal-flagdata">🇸🇿</a>
<a type="button" region="middle-east" id="sy" country="syria" class="flagbtn" href="#syria" data-toggle="modal" data-target="#myModal-flagdata">🇸🇾</a>
<a type="button" region="africa" id="tz" country="tanzania" class="flagbtn" href="#tanzania" data-toggle="modal" data-target="#myModal-flagdata">🇹🇿</a>
<a type="button" region="east-n-southeast-asia" id="th" country="thailand" class="flagbtn" href="#thailand" data-toggle="modal" data-target="#myModal-flagdata">🇹🇭</a>
<a type="button" region="east-n-southeast-asia" id="tt" country="timor-leste" class="flagbtn" href="#timor-leste" data-toggle="modal" data-target="#myModal-flagdata">🇹🇹</a>
<a type="button" region="africa" id="to" country="togo" class="flagbtn" href="#togo" data-toggle="modal" data-target="#myModal-flagdata">🇹🇴</a>
<a type="button" region="australia-oceania" id="tn" country="tonga" class="flagbtn" href="#tonga" data-toggle="modal" data-target="#myModal-flagdata">🇹🇳</a>
<a type="button" region="central-america-n-caribbean" id="td" country="trinidadandtobago" class="flagbtn" href="#trinidadandtobago" data-toggle="modal" data-target="#myModal-flagdata">🇹🇩</a>
<a type="button" region="australia-oceania" id="tv" country="tuvalu" class="flagbtn" href="#tuvalu" data-toggle="modal" data-target="#myModal-flagdata">🇹🇻</a>
<a type="button" region="africa" id="ug" country="uganda" class="flagbtn" href="#uganda" data-toggle="modal" data-target="#myModal-flagdata">🇺🇬</a>
<a type="button" region="middle-east" id="ae" country="unitedarabemirates" class="flagbtn" href="#unitedarabemirates" data-toggle="modal" data-target="#myModal-flagdata">🇦🇪</a>
<a type="button" region="north-america" id="us" country="unitedstates" class="flagbtn" href="#unitedstates" data-toggle="modal" data-target="#myModal-flagdata">🇺🇸</a>
<a type="button" region="south-america" id="uy" country="uruguay" class="flagbtn" href="#uruguay" data-toggle="modal" data-target="#myModal-flagdata">🇺🇾</a>
<a type="button" region="central-asia" id="uz" country="uzbekistan" class="flagbtn" href="#uzbekistan" data-toggle="modal" data-target="#myModal-flagdata">🇺🇿</a>
<a type="button" region="south-america" id="ve" country="venezuela" class="flagbtn" href="#venezuela" data-toggle="modal" data-target="#myModal-flagdata">🇻🇪</a>
<a type="button" region="africa" id="za" country="zambia" class="flagbtn" href="#zambia" data-toggle="modal" data-target="#myModal-flagdata">🇿🇦</a>
<a type="button" region="east-n-southeast-asia" id="tw" country="taiwan" class="flagbtn" href="#taiwan" data-toggle="modal" data-target="#myModal-flagdata">🇹🇼</a>
<a type="button" region="europe" id="ee" country="europeanunion" class="flagbtn" href="#europeanunion" data-toggle="modal" data-target="#myModal-flagdata">🇪🇪</a>
<a type="button" region="australia-oceania" id="at" country="ashmoreandcartierislands" class="flagbtn" href="#ashmoreandcartierislands" data-toggle="modal" data-target="#myModal-flagdata">🇦🇹</a>
<a type="button" region="australia-oceania" id="ck" country="cocos-keelingislands" class="flagbtn" href="#cocos-keelingislands" data-toggle="modal" data-target="#myModal-flagdata">🇨🇰</a>
<a type="button" region="australia-oceania" id="cr" country="coralseaislands" class="flagbtn" href="#coralseaislands" data-toggle="modal" data-target="#myModal-flagdata">🇨🇷</a>
<a type="button" region="antarctica" id="hm" country="heardislandandmcdonaldislands" class="flagbtn" href="#heardislandandmcdonaldislands" data-toggle="modal" data-target="#myModal-flagdata">🇭🇲</a>
<a type="button" region="australia-oceania" id="nf" country="norfolkisland" class="flagbtn" href="#norfolkisland" data-toggle="modal" data-target="#myModal-flagdata">🇳🇫</a>
<a type="button" region="east-n-southeast-asia" id="hk" country="hongkong" class="flagbtn" href="#hongkong" data-toggle="modal" data-target="#myModal-flagdata">🇭🇰</a>
<a type="button" region="east-n-southeast-asia" id="mc" country="macau" class="flagbtn" href="#macau" data-toggle="modal" data-target="#myModal-flagdata">🇲🇨</a>
<a type="button" region="europe" id="fo" country="faroeislands" class="flagbtn" href="#faroeislands" data-toggle="modal" data-target="#myModal-flagdata">🇫🇴</a>
<a type="button" region="north-america" id="gl" country="greenland" class="flagbtn" href="#greenland" data-toggle="modal" data-target="#myModal-flagdata">🇬🇱</a>
<a type="button" region="australia-oceania" id="nc" country="newcaledonia" class="flagbtn" href="#newcaledonia" data-toggle="modal" data-target="#myModal-flagdata">🇳🇨</a>
<a type="button" region="north-america" id="sb" country="saintpierreandmiquelon" class="flagbtn" href="#saintpierreandmiquelon" data-toggle="modal" data-target="#myModal-flagdata">🇸🇧</a>
<a type="button" region="australia-oceania" id="wf" country="wallisandfutuna" class="flagbtn" href="#wallisandfutuna" data-toggle="modal" data-target="#myModal-flagdata">🇼🇫</a>
<a type="button" region="central-america-n-caribbean" id="cc" country="curacao" class="flagbtn" href="#curacao" data-toggle="modal" data-target="#myModal-flagdata">🇨🇨</a>
<a type="button" region="central-america-n-caribbean" id="sk" country="sintmaarten" class="flagbtn" href="#sintmaarten" data-toggle="modal" data-target="#myModal-flagdata">🇸🇰</a>
<a type="button" region="australia-oceania" id="cw" country="cookislands" class="flagbtn" href="#cookislands" data-toggle="modal" data-target="#myModal-flagdata">🇨🇼</a>
<a type="button" region="australia-oceania" id="ne" country="niue" class="flagbtn" href="#niue" data-toggle="modal" data-target="#myModal-flagdata">🇳🇪</a>
<a type="button" region="australia-oceania" id="tl" country="tokelau" class="flagbtn" href="#tokelau" data-toggle="modal" data-target="#myModal-flagdata">🇹🇱</a>
<a type="button" region="antarctica" id="bv" country="bouvetisland" class="flagbtn" href="#bouvetisland" data-toggle="modal" data-target="#myModal-flagdata">🇧🇻</a>
<a type="button" region="europe" id="sv" country="svalbard" class="flagbtn" href="#svalbard" data-toggle="modal" data-target="#myModal-flagdata">🇸🇻</a>
<a type="button" region="europe" id="ax" country="akrotiri" class="flagbtn" href="#akrotiri" data-toggle="modal" data-target="#myModal-flagdata">🇦🇽</a>
<a type="button" region="north-america" id="bd" country="bermuda" class="flagbtn" href="#bermuda" data-toggle="modal" data-target="#myModal-flagdata">🇧🇩</a>
<a type="button" region="south-asia" id="io" country="britishindianoceanterritory" class="flagbtn" href="#britishindianoceanterritory" data-toggle="modal" data-target="#myModal-flagdata">🇮🇴</a>
<a type="button" region="central-america-n-caribbean" id="vi" country="britishvirginislands" class="flagbtn" href="#britishvirginislands" data-toggle="modal" data-target="#myModal-flagdata">🇻🇮</a>
<a type="button" region="south-america" id="fk" country="falklandislands-islasmalvinas" class="flagbtn" href="#falklandislands-islasmalvinas" data-toggle="modal" data-target="#myModal-flagdata">🇫🇰</a>
<a type="button" region="europe" id="gi" country="gibraltar" class="flagbtn" href="#gibraltar" data-toggle="modal" data-target="#myModal-flagdata">🇬🇮</a>
<a type="button" region="europe" id="je" country="jersey" class="flagbtn" href="#jersey" data-toggle="modal" data-target="#myModal-flagdata">🇯🇪</a>
<a type="button" region="europe" id="im" country="isleofman" class="flagbtn" href="#isleofman" data-toggle="modal" data-target="#myModal-flagdata">🇮🇲</a>
<a type="button" region="central-america-n-caribbean" id="mh" country="montserrat" class="flagbtn" href="#montserrat" data-toggle="modal" data-target="#myModal-flagdata">🇲🇭</a>
<a type="button" region="africa" id="sh" country="sainthelenaascensionandtristandacunha" class="flagbtn" href="#sainthelenaascensionandtristandacunha" data-toggle="modal" data-target="#myModal-flagdata">🇸🇭</a>
<a type="button" region="south-america" id="sx" country="southgeorgiaandsouthsandwichislands" class="flagbtn" href="#southgeorgiaandsouthsandwichislands" data-toggle="modal" data-target="#myModal-flagdata">🇸🇽</a>
<a type="button" region="central-america-n-caribbean" id="tk" country="turksandcaicosislands" class="flagbtn" href="#turksandcaicosislands" data-toggle="modal" data-target="#myModal-flagdata">🇹🇰</a>
<a type="button" region="australia-oceania" id="aq" country="americansamoa" class="flagbtn" href="#americansamoa" data-toggle="modal" data-target="#myModal-flagdata">🇦🇶</a>
<a type="button" region="australia-oceania" id="gq" country="guam" class="flagbtn" href="#guam" data-toggle="modal" data-target="#myModal-flagdata">🇬🇶</a>
<a type="button" region="central-america-n-caribbean" id="bq" country="navassaisland" class="flagbtn" href="#navassaisland" data-toggle="modal" data-target="#myModal-flagdata">🇧🇶</a>
<a type="button" region="australia-oceania" id="um" country="unitedstatespacificislandwildliferefuges" class="flagbtn" href="#unitedstatespacificislandwildliferefuges" data-toggle="modal" data-target="#myModal-flagdata">🇺🇲</a>
<a type="button" region="east-n-southeast-asia" id="pf" country="paracelislands" class="flagbtn" href="#paracelislands" data-toggle="modal" data-target="#myModal-flagdata">🇵🇫</a>
<a type="button" region="east-n-southeast-asia" id="pg" country="spratlyislands" class="flagbtn" href="#spratlyislands" data-toggle="modal" data-target="#myModal-flagdata">🇵🇬</a>

<script>

$(".flagbtn").each(function(){
  $(this).click(function(e){
    e.preventDefault()
    var flag = $(this).text()
    var code = $(this).attr('id')
    var name = $(this).attr('country')
    var region = $(this).attr('region')
    $("#country-data-head").text(flag +"  " + flag + "  " + flag)
    var countryURL = 'https://raw.githubusercontent.com/opendatajson/factbook.json/master/'+ region +'/'+ code+'.json'
    console.log(countryURL)
    $.ajax({
      url: countryURL,
      method: "GET",
      data: {},
      success: function(data){
        console.log(data)
        var obj = jQuery.parseJSON( data );
        var introduction = obj["Introduction"]["Background"]["text"]
        var country_name = obj["Government"]["Country name"]["conventional long form"]["text"]
        //$("#country-data-head").text(flag+"  " + country_name + "  " + flag)
        $("#country-data").text(introduction)
        $(this).blur()
      }
    })
  })
})


$('#myModal-flagdata').on('hidden.bs.modal', function () {
      $("#country-data").text("🌎🌍🌏")
})


</script>
