{% extends 'base.html' %}

{% block content %}

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Welcome!</h1>
        <p>This is Brian Caffey's perosonal website. Thanks for visiting!</p>

        <a href="#" class="btn btn-warning">Start</a>
      </div>

      <h4>Interested in writing a guest post? {% if user.is_authenticated %}<a href="{% url 'posts:create' %}">Get started now!</a>{% else %}<a href="{% url 'accounts:register' %}">Register</a> today and start writing now.{% endif %}</h4>
      
{% endblock %}
