{% load staticfiles %}

<!doctype html>
<html>
<head>
  <title>PlayQuest</title>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
  <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/modal.css' %}">
</head>

<body style="padding-top:30px;">

{% include 'kings/kings_nav.html' %}

  <div style="background-color:white" class="container">
    <div class="row">
    </div>
      <span id="welcomeJumbo">
      <div style="padding-top:40px;" class="row">

        <div style="text-align:center;" class="jumbotron" >
          <h1>👑⚔🏰🐉❤️<br />Create your own PlayQuest</h1>
          <br />
          <a id="start_btn" class="btn btn-success btn-lg togglePlay" href="#start" class="togglePlay">Get Started!</a>
        </div>
      </div>
      <style>
      .highlightme { background-color:#ffb2b2; }

      </style>
      <div style="text-align:center;" class="row">
        <div class="col-md-4"><h2>⌨️🕹🖱<br />Controls</h2><p>Move the <span class="highlightme">red</span> square with <b>W</b>, <b>A</b>, <b>S</b> and <b>D</b>.<br />Press <b>SPACE</b> to place emoji<br />Press <b>E</b> to select different emoji<br />Press <b>R</b> to edit an emoji's properties.</p></div>
        <div class="col-md-4"></div>
        <div class="col-md-4"><h2>👨‍🎨💾📤🤗<br />Create, save and share your game</h2><p>Scrolls contain hints and important knowledge.</p></div>
      </div>
    </span>

    <div style="padding-top:40px;" class="col-md-10">
      <div style="align:center;" class="canvas"><table style="font-size:3.5em;" class="grid"><tbody id="scene"></tbody></table>
      </div>
    </div>
  </div>


  <div class="modal fade" id="myModal-saved" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div style="text-align:center;" class="modal-body">
          <h1>Your game has been saved! 💾✅👌</h1>
          <p>Here's the link to play this game: <b><a id="new_game_link" href="" target="_blank">link</a></b></p>
          <p>Here's the link to edit this game: <b><a id="edit_game_link" href="" target="_blank">https://playquest.io/game/44/edit</a></p>
          <br />
          <a class="btn btn btn-success" href="">play</a><br />
          <p>the game you just made will be saved to your profile if you create an account with the button below</p>
          <p>if you don't make an account, anyone with the edit link will be able to edit this game</p>
          <button class="btn btn-success" href="">create account</button>
        </div>

          <p>you can keep working on this game if you want, just remember to save your progress!</p>
          <button type="button" class="btn btn-default" data-dismiss="modal">keep going</button>

      </div>
    </div>
  </div>


  <div class="modal fade" id="myModal-q" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div style="text-align:center;" class="modal-body">
          <h1>Controls</h1>
          <h4>Press <b>Q</b> to toggle controls</h4>
          <h4>Press <b>M</b> to toggle emoji selector menu</h4>
          <h4>Press <b>P</b> to add properties to the selected square</h4>
          <h4>Press <b>W, A, S and D</b> to move the pointers</h4>
        </div>
          <button type="button" class="btn btn-default" data-dismiss="modal">close</button>

      </div>
    </div>
  </div>


  <div class="modal fade" id="scene-modal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div style="text-align:center;" class="modal-content">
        <h1>Scenes</h1>
        <button class="btn btn-success" id="add-scene">Add New Scene</button>
        <div style="text-align:center;" id="scene-list" class="modal-body">

          <a name="first">Scene #0</a>
        </div>


          <button type="button" class="btn btn-default" data-dismiss="modal">close</button>

      </div>
    </div>
  </div>


  <div id="blockInfoModal" class="dialogue-modal">
    <div class="modal-content">
      <span id="blockInfoclose" class="close">&times;</span>
      <p id="dialogue-title" style="text-align:center; font-size:6em"><span id="current_emoji"></span></p>
      <p id="blockInfo" style="font-size:3em;"></p>
      <hr>
      <h3>Scene transition</h3>
      <div class="row">
        <div class="col-md-3">Transfer to scene: <select style="width:200px" class="form-control" id="portal-select"></select></div>
        <div class="col-md-3">Vertical: <select style="width:200px" class="form-control" id="vertical-select"></select></div>
        <div class="col-md-3">Horizontal: <select style="width:200px" class="form-control" id="horizontal-select"></select></div>
        <div class="col-md-3"><b><span id="block-transition-saved"><br /></span></b><button id="set-portal-button" class="btn btn-success">Set</button></div>
      </div>
      <hr>
      <h3>Some other property</h3>
      <hr>
      <h3>Last property</h3>
    </div>
  </div>

<div id="myModal" class="dialogue-modal">
  <div class="modal-content">
    <span id="myModalclose" class="close">&times;</span>
    <p id="dialogue-title" style="text-align:center; font-size:6em">Choose an emoji 👉 <span id="current_emoji_menu"></span></p>
    <p id="emojis" style="font-size:3em;"></p>
  </div>
</div>


<script src="{% static 'js/items.js' %}" type="text/javascript" ></script>

<script>


$('.togglePlay').click(function(){
  $('#welcomeJumbo').hide();
  //buildScene("starting_scene");
})




</script>
