{% load staticfiles %}

<!doctype html>
<html>
<head>
  <title>PlayQuest</title>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
  <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/modal.css' %}">
</head>

<body style="padding-top:30px;">

{% include 'kings/kings_nav.html' %}

  <div style="background-color:white" class="container">
    <div class="row">
    </div>
      <span id="welcomeJumbo">
      <div style="padding-top:40px;" class="row">

        <div style="text-align:center;" class="jumbotron" >
          <h1>👑⚔🏰🐉❤️<br />Create your own PlayQuest</h1>
          <br />
          <a id="start_btn" class="btn btn-success btn-lg togglePlay" href="#start" class="togglePlay">Get Started!</a>
        </div>
      </div>
      <style>
      .highlightme { background-color:#ffb2b2; }

      </style>
      <div style="text-align:center;" class="row">
        <div class="col-md-4"><h2>⌨️🕹🖱<br />Controls</h2><p>Move the <span class="highlightme">red</span> square with <b>W</b>, <b>A</b>, <b>S</b> and <b>D</b>.<br />Press <b>SPACE</b> to place emoji<br />Press <b>E</b> to select different emoji<br />Press <b>R</b> to edit an emoji's properties.</p></div>
        <div class="col-md-4"></div>
        <div class="col-md-4"><h2>👨‍🎨💾📤🤗<br />Create, save and share your game</h2><p>Scrolls contain hints and important knowledge.</p></div>
      </div>
    </span>

    <div style="padding-top:40px;" class="col-md-10">
      <div style="align:center;" class="canvas"><table style="font-size:3.5em;" class="grid"><tbody id="scene"></tbody></table>
      </div>
    </div>
  </div>


  <div class="modal fade" id="myModal-saved" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div style="text-align:center;" class="modal-body">
          <h1>Your game has been saved! 💾✅👌</h1>
          <p>Here's the link to play this game: <b><a id="new_game_link" href="" target="_blank">link</a></b></p>
          <p>Here's the link to edit this game: <b><a id="edit_game_link" href="" target="_blank">https://playquest.io/game/44/edit</a></p>
          <br />
          <a class="btn btn btn-success" href="">play</a><br />
          <p>the game you just made will be saved to your profile if you create an account with the button below</p>
          <p>if you don't make an account, anyone with the edit link will be able to edit this game</p>
          <button class="btn btn-success" href="">create account</button>
        </div>

          <p>you can keep working on this game if you want, just remember to save your progress!</p>
          <button type="button" class="btn btn-default" data-dismiss="modal">keep going</button>

      </div>
    </div>
  </div>


  <div class="modal fade" id="myModal-q" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div style="text-align:center;" class="modal-body">
          <h1>Controls</h1>
          <h4>Press <b>Q</b> to toggle controls</h4>
          <h4>Press <b>M</b> to toggle emoji selector menu</h4>
          <h4>Press <b>P</b> to add properties to the selected square</h4>
          <h4>Press <b>W, A, S and D</b> to move the pointers</h4>
        </div>
          <button type="button" class="btn btn-default" data-dismiss="modal">close</button>

      </div>
    </div>
  </div>


  <div class="modal fade" id="scene-modal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div style="text-align:center;" class="modal-content">
        <h1>Scenes</h1>
        <button class="btn btn-success" id="add-scene">Add New Scene</button>
        <div style="text-align:center;" id="scene-list" class="modal-body">

          <a name="first">Scene #0</a>
        </div>


          <button type="button" class="btn btn-default" data-dismiss="modal">close</button>

      </div>
    </div>
  </div>


  <div id="blockInfoModal" class="dialogue-modal">
    <div class="modal-content">
      <span id="blockInfoclose" class="close">&times;</span>
      <p id="dialogue-title" style="text-align:center; font-size:6em"><span id="current_emoji"></span></p>
      <p id="blockInfo" style="font-size:3em;"></p>
      <hr>
      <h3>Scene transition</h3>
      <div class="row">
        <div class="col-md-3">Transfer to scene: <select style="width:200px" class="form-control" id="portal-select"></select></div>
        <div class="col-md-3">Vertical: <select style="width:200px" class="form-control" id="vertical-select"></select></div>
        <div class="col-md-3">Horizontal: <select style="width:200px" class="form-control" id="horizontal-select"></select></div>
        <div class="col-md-3"><b><span id="block-transition-saved"><br /></span></b><button id="set-portal-button" class="btn btn-success">Set</button></div>
      </div>
      <hr>
      <h3>Some other property</h3>
      <hr>
      <h3>Last property</h3>
    </div>
  </div>

<div id="myModal" class="dialogue-modal">
  <div class="modal-content">
    <span id="myModalclose" class="close">&times;</span>
    <p id="dialogue-title" style="text-align:center; font-size:6em">Choose an emoji 👉 <span id="current_emoji_menu"></span></p>
    <p id="emojis" style="font-size:3em;"></p>
  </div>
</div>

<script src="{% static 'js/items.js' %}" type="text/javascript" ></script>

<script>


$('.togglePlay').click(function(){
  $('#welcomeJumbo').hide();
  buildScene("starting_scene");
})

var selected = things.tent
$("#current_emoji").text(selected.emoji);
//var current_scene = "0"
var new_scene = function(){}


function get_scene_names(data){
  var arr = [];
  for (var prop in data) {
    var propName = prop;
    arr.push(propName)
  }
  return arr
}

var blank_scene =   {'grid':
                      {0:[things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree,things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree,things.tree,things.tree,things.tree,things.tree,things.tree,],
                       1:[things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree,things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree,things.tree,things.tree,things.tree,things.tree,things.tree,],
                       2:[things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree,things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree,things.tree,things.tree,things.tree,things.tree,things.tree,],
                       3:[things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree,things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree,things.tree,things.tree,things.tree,things.tree,things.tree,],
                       4:[things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree,things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree,things.tree,things.tree,things.tree,things.tree,things.tree,],
                       5:[things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree,things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree,things.tree,things.tree,things.tree,things.tree,things.tree,],
                       6:[things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree,things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree,things.tree,things.tree,things.tree,things.tree,things.tree,],
                       7:[things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree,things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree,things.tree,things.tree,things.tree,things.tree,things.tree,],
                       8:[things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree,things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree,things.tree,things.tree,things.tree,things.tree,things.tree,],
                       9:[things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree,things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree,things.tree,things.tree,things.tree,things.tree,things.tree,]
                    },
                  }

var scenes = {
                'starting_scene':'0',
                'title':null,
                'user':null,
                'current_scene':'0',
                'scenes':{
                  '0':
                    {'grid':
                      {0:[things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree,things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree,things.tree,things.tree,things.tree,things.tree,things.tree,],
                       1:[things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree,things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree,things.tree,things.tree,things.tree,things.tree,things.tree,],
                       2:[things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree,things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree,things.tree,things.tree,things.tree,things.tree,things.tree,],
                       3:[things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree,things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree,things.tree,things.tree,things.tree,things.tree,things.tree,],
                       4:[things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree,things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree,things.tree,things.tree,things.tree,things.tree,things.tree,],
                       5:[things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree,things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree,things.tree,things.tree,things.tree,things.tree,things.tree,],
                       6:[things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree,things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree,things.tree,things.tree,things.tree,things.tree,things.tree,],
                       7:[things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree,things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree,things.tree,things.tree,things.tree,things.tree,things.tree,],
                       8:[things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree,things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree,things.tree,things.tree,things.tree,things.tree,things.tree,],
                       9:[things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree,things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree, things.tree,things.tree,things.tree,things.tree,things.tree,things.tree,]
                  },
                }
              }
            }


$("#add-scene").click(function(){
  var next = Object.keys(scenes.scenes).length
  console.log(blank_scene);
  var blank_scene_copy = $.extend(true, {}, blank_scene);
  scenes.scenes[String(next)] = blank_scene_copy
  $("#scene-list").empty();
  var scene_names = get_scene_names(scenes.scenes);
  for (var s in scene_names){
    $("#scene-list").append("<a style='cursor:pointer;' id='"+s+"' class='scene-menu-choice'>Scene #" + s +"</a><br />")
  }
})

$("#scene-list").on("click","a", function(){
  var clicked_scene_id = $(this).attr("id")
  scenes.current_scene = String(clicked_scene_id)
  //window.current_scene = String(clicked_scene_id)
  buildScene();
})

var pointer = {
     current: [0,0],
  }

var emoji_pointer = {
  current: [0,0],
}

function buildEmojiMenu(){
    $('#emojis tr').remove();
    for (row in emoji_map){
      var current = $('#emojis').append("<tr row="+row+"></tr>")
      for (square in emoji_map[row]){
        if (row == emoji_pointer.current[0] && square == emoji_pointer.current[1]){
          $('tr[row='+ row +']').append("<td class='emoji-choice' style='background-color: #ffb2b2' col="+square+">"+emoji_map[row][square].emoji+"</td>")
            } else {
          $('tr[row='+ row +']').append("<td class='emoji-choice' col="+square+">"+emoji_map[row][square].emoji+"</td>")
        }
      }
    }
};

var scene = null;
function buildScene(init){
  if (init){
    var building_scene = scenes.scenes[scenes[init]].grid;
  } else {
  var building_scene = scenes.scenes[scenes["current_scene"]].grid;
  console.log(building_scene)
  }
  $("tbody tr").remove();

  for (row in building_scene){
    var current = $('.grid tbody').append("<tr class='emoji_row' row="+row+"></tr>")
    for (square in building_scene[row]){
      if (row == pointer.current[0] && square == pointer.current[1]){
        $('tr[row='+ row +'].emoji_row').append("<td class='emojiblock'  name='" + building_scene[row][square].name + "' style='background-color: #ffb2b2; cursor: pointer;' row=" + row + " col="+square+">"+building_scene[row][square].emoji+"</td>")
          } else {
        $('tr[row='+ row +'].emoji_row').append("<td class='emojiblock' name='" + building_scene[row][square].name + "'  style='cursor: pointer;' row=" + row + " col="+square+">"+building_scene[row][square].emoji+"</td>")
      }
    }
  }
};

function updateSquare(){
  var map_x = pointer.current[0]
  var map_y = pointer.current[1]
  scenes.scenes[scenes["current_scene"]].grid[map_x][map_y] = selected
}

function showBlockInfo(block){
  $("#blockInfo p").empty();
  $("#vertical-select").empty();
  $("#portal-select").empty();
  $("#horizontal-select").empty();
  $("#current_emoji").text(block.emoji)
  var scene_names = get_scene_names(scenes.scenes);
  for (var s in scene_names){
    $("#portal-select").append("<option value='"+s+"'>Scene #"+s+"</option>")
  }
  for (var v in scenes.scenes[scenes["current_scene"]].grid){
    $("#vertical-select").append("<option value='"+v+"'>"+v+"</option>")
  }

  for (var h in scenes.scenes[scenes["current_scene"]].grid[0]){
    $("#horizontal-select").append("<option value='"+h+"'>"+h+"</option>")
  }

  $("#set-portal-button").click(function(){
    block.exitway = true
    var _next = $("#portal-select").val();
    block.next = _next
    var _v = $("#vertical-select").val();
    var _h = $("#horizontal-select").val();
    block.entry = [_v, _h]
    $("#block-transition-saved").html("<p style='color:green;'>Set!</p>")
  })
  showBlockInfoModal();
}

$(".grid tbody").on("click", "tr td", function() {
  var row = $(this).attr('row')
  var col = $(this).attr('col')
  var cloned_item = $.extend(true, {}, things[scenes.scenes[scenes["current_scene"]].grid[row][col].name]);
  scenes.scenes[scenes["current_scene"]].grid[row][col] = cloned_item
  showBlockInfo(scenes.scenes[scenes["current_scene"]].grid[row][col]);

});

var pushKeys = window.addEventListener("keydown", function(event) {
  if (event.keyCode == 81){
    $('#myModal-q').modal('toggle');
  }
 if (modal.style.display == 'block'){

   if (event.keyCode == 69){
     event.preventDefault();
     modal.style.display = 'none';
   }
   if (event.keyCode == 40 || event.keyCode == 83){
     event.preventDefault();
     emoji_pointer.current[0]++
     updateEmojiMenu()
     }
   if (event.keyCode == 38 || event.keyCode == 87){
     event.preventDefault();
     emoji_pointer.current[0]--
     updateEmojiMenu()
     }
   if (event.keyCode == 37 || event.keyCode == 65){
     event.preventDefault();
     emoji_pointer.current[1]--
     updateEmojiMenu()
     }
   if (event.keyCode == 39 || event.keyCode == 68){
     event.preventDefault();
     emoji_pointer.current[1]++
     updateEmojiMenu()
     }
   // console.log('close modal');
   if (event.keyCode == 32){
     event.preventDefault();
     modal.style.display = 'none';
   }
   buildEmojiMenu();
 }else {

   if (event.keyCode == 82){
     if (blockInfoModal.style.display == 'block'){
       blockInfoModal.style.display = "none";
     } else {
       blockInfoModal.style.display = 'block'
      //  scenes.scenes[scenes["current_scene"]].grid[pointer.current[0]][pointer.current[1]]
       showBlockInfo(scenes.scenes[scenes["current_scene"]].grid[pointer.current[0]][pointer.current[1]]);
     }
   }
   if (event.keyCode == 40 || event.keyCode == 83){
     event.preventDefault();
     pointer.current[0]++
     }
   if (event.keyCode == 38 || event.keyCode == 87){
     event.preventDefault();
     pointer.current[0]--
     }
   if (event.keyCode == 37 || event.keyCode == 65){
     event.preventDefault();
     pointer.current[1]--
     }
   if (event.keyCode == 39 || event.keyCode == 68){
     event.preventDefault();
     pointer.current[1]++
     }
   if (event.keyCode == 32){
     event.preventDefault();
     updateSquare()
  }
    if (event.keyCode == 69){
      event.preventDefault();
       showModal();
       buildEmojiMenu();
    }
  }
  buildScene();
});

function updateEmojiMenu(){
  selected = JSON.parse(JSON.stringify(emoji_map[emoji_pointer.current[0]][emoji_pointer.current[1]]))
  $("#current_emoji_menu").text(selected.emoji);
}

  var showBlockInfoModal = function() {
      if (blockInfoModal.style.display == "block"){
        blockInfoModal.style.display == "none"
      } else {
        blockInfoModal.style.display == "block";
  }
}

 var showModal = function() {
     modal.style.display = "block";
 }

$(".emoji-choice").click(function(){
  var id = $(this).attr('id')
  selected = things[id]
  $("#current_emoji").text(selected.emoji);
})

$("#save-level").click(function(event){
  event.preventDefault();


  $.ajaxSetup({
       beforeSend: function(xhr, settings) {
           function getCookie(name) {
               var cookieValue = null;
               if (document.cookie && document.cookie != '') {
                   var cookies = document.cookie.split(';');
                   for (var i = 0; i < cookies.length; i++) {
                       var cookie = jQuery.trim(cookies[i]);
                       // Does this cookie string begin with the name we want?
                       if (cookie.substring(0, name.length + 1) == (name + '=')) {
                           cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                           break;
                       }
                   }
               }
               return cookieValue;
           }
           if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
               // Only send the token to relative URLs i.e. locally.
               xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
           }
       }
  });

  if (window.game_id == null){
  // POST to create new game if it has not yet been saved
  $.ajax({
    type : "POST",
    url : "/api/kings/save/",
    csrfmiddlewaretoken: "{{ csrf_token }}",
    data : JSON.stringify({game:scenes, id:false}),
    headers: {
      'Accept': 'application/json',
      'Content-Type': 'application/json'
    },
    success: function(data){
        window.game_id = data["id"]
        window.APIUpdateURL = "/api/kings/"+String(window.game_id)+"/update/"
        var pathArray = location.href.split( '/' );
        var protocol = pathArray[0];
        var host = pathArray[2];
        var url = protocol + '//' + host;
        var game_url = "/kings/game/"+String(game_id)+"/"
        var full_url = url + game_url
        $('#new_game_link').attr('href',full_url);
        $('#new_game_link').text(full_url);
        $('#myModal-saved').modal("show");

        history.pushState(scenes, "", game_url);
    },
    error: function(XMLHttpRequest, textStatus, errorThrown) {

      alert("some error " + String(errorThrown) + String(textStatus) + String(XMLHttpRequest.responseText));
    }
  });

} else {

  $.ajax({
    type : "PUT",
    url : window.APIUpdateURL,
    csrfmiddlewaretoken: "{{ csrf_token }}",
    data : JSON.stringify({game:scenes, id:window.game_id}),
    headers: {
      'Accept': 'application/json',
      'Content-Type': 'application/json'
    },
    success: function(data){
        window.game_id = data["id"]
        window.APIUpdateURL = "/api/kings/"+String(window.game_id)+"/update/"
        var pathArray = location.href.split( '/' );
        var protocol = pathArray[0];
        var host = pathArray[2];
        var url = protocol + '//' + host;
        var game_url = "/kings/game/"+String(game_id)+"/"
        var full_url = url + game_url
        $('#new_game_link').attr('href',full_url);
        $('#new_game_link').text(full_url);
        $('#myModal-saved').modal("show");
    },
    error: function(XMLHttpRequest, textStatus, errorThrown) {
      alert("some error " + String(errorThrown) + String(textStatus) + String(XMLHttpRequest.responseText));
      }
    });
  }

});

$('#start_btn').focus();
var blockInfoModal = document.getElementById('blockInfoModal');
var blockInfospan = document.getElementById("blockInfoclose");

var modal = document.getElementById('myModal');
var span = document.getElementById("myModalclose");

var showBlockInfoModal = function() {
  if (blockInfoModal.style.display == "block"){
    blockInfoModal.style.display == "none"
  }else{
    blockInfoModal.style.display = "block";
  }
}

blockInfospan.onclick = function() {
    blockInfoModal.style.display = "none";
}
// window.onclick = function(event) {
//     if (event.target == blockInfoModal) {
//         blockInfoModal.style.display = "none";
//     }
// }



var showModal = function() {
    modal.style.display = "block";
}
span.onclick = function() {
    modal.style.display = "none";
}
window.onclick = function(event) {
    if (event.target == modal || event.target == blockInfoModal) {
        modal.style.display = "none";
    }
}

</script>

</body>

</html>
