{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-md-8">
<h2>My Reading List</h2>
<p>Here is a list of things that I've been reading recently. If you have some good suggestions, send it my way through the form below. Thanks.</p>


{% for item in reading_list %}


<h3>{{ item.name }}</h3>

<p>{{ item.description }}</p>
<p><a href="{{ item.link }}">{{ item.link }}</a></p>
{% if item.get_tags.count > 0 %}
<p>Tags:
{% for tag in item.get_tags %}

<a class="label label-primary">{{ tag }}</a>

{% endfor %}

{% endif %}

{% endfor %}
</p>
</div>

<div class="col-md-4">
  <h2>Suggest reading</h2>
  <form method="POST" action=".">
    {% csrf_token %}
    {{ form | crispy }}
  <input class="btn btn-success" type="submit" value="Suggest">
</form>
<hr>
<h2>Tags</h2>
{% for tag in tags %}
<a class="label label-primary">{{ tag }}</a>
{% endfor %}

</div>

{% endblock %}
