{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load taggit_templatetags2_tags %}


{% block content %}

<div class="col-md-8">
<h2>My Reading List</h2>
<p>Here is a list of things that I've been reading recently. If you have some good suggestions, send it my way through the form below. Thanks.</p>







{% for item in reading_list %}


<h3><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></h3>

<p>{{ item.description }}</p>
<p><a href="{{ item.link }}">{{ item.link }}</a></p>
<p>Suggested by: {{ item.user }}{% if item.user == user %} | <a type="button" href="#delete" data-toggle="modal" data-target="#myModal">Delete</a>
| <a href="{% url 'reading-list:edit' pk=item.pk %}">Edit</a>{% endif %}
{% if item.tags.count > 0 %}
<p>Tags:
{% for tag in item.tags.all %}

<a href="{% if tag.slug %}{% url 'reading-list:tag-view' slug=tag.slug %}{% endif %}" class="label label-primary">{{ tag }}</a>

{% endfor %}
</p>

<!-- <p><a class="btn btn-danger" href="{% url 'reading-list:delete' pk=item.pk %}">Delete</a></p> -->



  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Are you sure you want to delete "{{ item.name }}"?</h4>
        </div>
        <div class="modal-body">
          <p>This will delete your reading suggestion.</p>
        </div>
        <div class="modal-footer">
          <a class="btn btn-danger" href="{% url 'reading-list:delete' pk=item.pk %}">Delete</a>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>



{% endif %}
{% endfor %}
</p>
</div>

<div class="col-md-4">
  <h2>Suggest things for me to read</h2>



  {% if user.is_authenticated %}
  <form method="POST" action=".">
    {% csrf_token %}
    {{ form | crispy }}
  <input class="btn btn-success" type="submit" value="Suggest">
</form>
{% else %}



<p>Please <a href="{% url 'accounts:login' %}">login</a> or <a href="{% url 'accounts:register' %}">register</a> to add items to my reading list. Thanks.</p>
{% endif %}
<hr>
<h2>Tags (<a href="{% url 'reading-list:all-tags' %}">view all</a>)</h2>
{% get_taglist as tags for 'readinglist' %}
{% for tag in tags %}

<span class="label label-primary label-lg"><a style="color:white;" href="{% if tag.slug %}{% url 'reading-list:tag-view' slug=tag.slug %}{% endif %}">{{ tag }}</a>&nbsp;<strong>{{ tag.num_times }}</strong></span>

{% endfor %}
<hr>
</div>

{% endblock %}
