{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<h2>All reading material tagged with <div class="label label-primary">{{ tag }}</div></h2>
<br /><br />
{% for thing in stuff %}
<p>{{ thing.name }}</p>
<p>{{ thing.description }}</p>
<a href="{{ thing.link }}"<p>{{ thing.link }}</a></p>
<p>Other tags:
{% for tag_ in thing.tags.all %}
{% if tag != tag_ %}
<a class="label label-primary" href="{% if tag_.slug %}{% url 'reading-list:tag-view' slug=tag_.slug %}{% endif %}">{{ tag_ }}<a/>
{% endif %}
{% endfor %}
<hr>
{% endfor %}
{% endblock %}
