{% load staticfiles %}

<!doctype html>
<html>
<head>
  <title>PlayQuest</title>

  <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
  <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/modal.css' %}">

</head>

<body style="padding-top:30px;">

<script language="JavaScript" type="text/javascript" src="http://vhss.oddcast.com/vocalware_embed_functions.php?acc=6470708&js=1"></script><script language="JavaScript" type="text/javascript">AC_Vocalware_Embed(6470708,300, 400,'',1,1, 2577191, 0,1,0,'a83499e596d9c57bdd7956d3ba53f079',9);</script>

<!-- <script>
function vw_apiLoaded(apiID){
alert("the API is loaded");
}
</script> -->
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">👑&nbsp;&nbsp;PlayQuest ⚔</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
<!--
              <li style="display:none;" class="stat"><a>❤️ ✖️ <span class="health"></span></a></li>
              <li style="display:none;" class="stat"><a>💎 ✖️ <span class="diamonds"></span></a></li>
              <li style="display:none;" class="stat"><a>📜 ✖️ <span class="scrolls"></span></a></li>
              <li style="display:none;" class="stat"><a>🗝 ✖️ <span class="keys"></span></a></li> -->
              <li style="display:none;" class="stat"><a>⏳&nbsp;&nbsp;<span class="clock">0 : 00</span></a></li>
              <li id='items-button'><a>Items 🎒</a></li>
              <!-- <li style="display:none;" class="stat"><a>Scene: <span class="scene"></span></a></li> -->
              <!-- <li style="display:none;" class="stat"><a>Pos: <span class="pos"></span></a></li> -->
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a class="btn" id="branch-menu" type="button" data-toggle="modal" data-target="#branch-modal">Branch 🌿</a></li>
              <li><a href="#music" type="button" data-toggle="modal" data-target="#myModal-music">🔊</a></li>
              <li><a>Guest</a></li>
              <li><a href="{% url 'home:home' %}">Exit</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>

      <div class="modal fade" id="myModal-music" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div style="text-align:center;" class="modal-body">
              <h1>🎻🎹🎶</h1>
              <audio id="music-track" loop="loop" autoplay="true" audio="" controls="controls">
                    <source src="{% static 'music/plirwin.ogg' %}">
                    <embed type="application/x-shockwave-flash" src="http://www.google.com/reader/ui/3523697345-audio-player.swf" quality="best" flashvars="audioUrl=http://www.contemplator.com/mp3/plirwin.mp3" width="500" height="27">
                    </audio>
            </div>
            <div class="modal-footer">
              <div class="pull-left">Source: <a href="http://www.contemplator.com/">contemplator.com</a></div>
              <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
            </div>
          </div>
        </div>
      </div>


      <!-- if (event.keyCode == 81){
        $('#myModal-q').modal('toggle');
      } -->

      <div class="modal fade" id="item-modal" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div style="text-align:center;" class="modal-body">
              <h2>Items</h2>
              <span style="font-size:3em;" id='item-modal-items'></span>
              <h2>Scrolls</h2>
              <span id='item-modal-scrolls'></span>
            </div>
            <!-- <div class="modal-footer">

              <button type="button" class="btn btn-default" data-dismiss="modal">close</button> -->
            </div>
          </div>
        </div>
      </div>



      <div class="modal fade" id="help-modal" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div style="text-align:center;" class="modal-body">
              <h1>Controls</h1>
              <h4>Press <b>Q</b> to toggle controls</h4>
              <p>Controls go here</p>
            </div>
            <div class="modal-footer">

              <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="branch-modal" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div style="text-align:center;" class="modal-body">
              <h1>Branch this game 🌿</h1>
              <h4>Branching allows you to edit your own copy of this game</h4>
              {% if request.user.is_authenticated %}
              <button class="btn btn-success" href="">Branch</button>
              {% else %}
              <div class="alert alert-warning alert-dismissible">You need to be logged in to branch this game.</div>
              <button class="btn btn-success">Login</button>
              <br /><br />
              <button class="btn btn-primary">Create a new account</button><br /><br />
              <p>it's free! 😊</p>
              {% endif %}
            </div>
            <!-- <div class="modal-footer">

              <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
            </div> -->
          </div>
        </div>
      </div>




  <div style="background-color:" class="container">
    <div class="row">

      </div>
      <span id="welcomeJumbo">
      <div style="padding-top:40px;" class="row">
<div style="text-align:center;" class="jumbotron" >
  <h1>👑⚔🏰🐉❤️<br />Welcome to King's Encounter!</h1>

  <p>Prepare yourself! A journey awaits...</p>
  <a class="btn btn-success btn-lg" id="start_btn" href="#">Play Game {{ game_id }}</a>
<br />
<br />

<a class="btn btn-info btn-lg" href="{% url 'kings:create'%}">Build Your Own Level</a>
</div>
</div>
<div style="text-align:center;" class="row">
<div class="col-md-4"><h2>⬆️⬅️⬇️➡️<br />Walk with W, A, S and D.</h2><p>You can also use the arrow keys</p></div>
<div class="col-md-4"><h2>🐲😱😲💀<br />Beware of dragons.</h2><p>Crossing paths with dragons will decrease your health.</p></div>
<div class="col-md-4"><h2>📜👓💡✅<br />Collect scrolls.</h2><p>Scrolls contain hints and important knowledge.</p></div>
</div>

</span>

<div style="padding-top:40px;" class="col-md-10">
<div style="align:center;" class="canvas"><table style="font-size:3.5em;" class="grid"><tbody id="scene"></tbody></table>

</div>
</div>
</div>

<div id="myModal" class="dialogue-modal">
  <div   class="modal-content">
    <span class="close">&times;</span>
    <p id="dialogue-title" style="text-align:center; font-size:6em"></p>
    <p id="dialogue-body" style="font-size:3em;"></p>
  </div>
</div>

<div id="dialogue-modal" class="dialogue-modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <p id="dialogue-title" style="text-align:center; font-size:6em"></p>
    <p id="dialogue-body" style="font-size:3em;"></p>
  </div>
</div>




<script>





$('#start_btn').focus();
var modal = document.getElementById('myModal');
var span = document.getElementsByClassName("close")[0];
var showModal = function() {
    modal.style.display = "block";
}

span.onclick = function() {
    modal.style.display = "none";
}
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

</div>
</body>



</html>

<script src="{% static 'js/items.js' %}" type="text/javascript" ></script>

<script>


var player = null;

// var player = {
// 'avatar': null,
// 'current': [1,2],
// 'health': 1,
// 'diamonds': 0,
// 'scrolls': 0,
// 'keys': 0,
// 'emoji': '😀',
// 'sword': false,
// 'orb': false,
// 'card': false,
// 'nut': false,
// };

// window.scene = null

var scene = null;
var current_scene = null;

function placePlayer(){

    scenes[current_scene].grid[player.current[0]][player.current[1]] = player;
   }

function buildScene(){
  $("tbody tr").remove();
  scene = scenes[current_scene].grid;
  placePlayer();
  for (var row in scene){
    $('.grid tbody').append("<tr row='"+row+"'></tr>")
    for (var square=0; square<scene[row].length; square++){
      $('tr[row='+ row +']').append("<td col="+square+">"+scene[row][square].emoji+"</td>")
    }
  }
};


function displayUserItems() {
  $("#item-modal-scrolls").empty();
  var current_scrolls = [];
  for (var s in player.scrolls) {
    current_scrolls.unshift (player.scrolls[s])
  }
  for (var scroll in current_scrolls) {
    if (current_scrolls[scroll].dialogue_title && current_scrolls[scroll].dialogue_body ) {
    $("#item-modal-scrolls").append("<h3 style='text-align:center;'>"+current_scrolls[scroll].dialogue_title+"</h3><br/><p>"+current_scrolls[scroll].dialogue_body+"</p>")
  }
  }

  $("#item-modal-items").empty();
  var current_items = [];
  for ( var i in player.items ) {
    current_items.push(player.items[i].emoji)
  }
  var item_count = _.countBy(current_items)
  for (var i in item_count) {
    $("#item-modal-items").append("<p>" + i + " ✖️ " + item_count[i] + "</p>")
  }
}

function vw_talkStarted(){
    var audio = document.getElementById("music-track");
    audio.volume = 0.3;
}

function vw_talkEnded(){
  var audio = document.getElementById("music-track");
  audio.volume = 1.0;
}

function checkSquare(square){

  //dialogue
  if ( square.dialogue ) {
    $("#dialogue-title").text(square.dialogue_title);
    $("#dialogue-body").text(square.dialogue_body);
    sayText(square.dialogue_body,5,1,4);
    showModal();
  }

  //item
  if ( square.item == true ) {
    player.items.push(square)
  }
  //scroll
  if ( square.name == 'scroll' ) {
    player.scrolls.push(square)
  }

  //key
  if ( square.name == 'key' ) {
    player.keys.push(square.key_name)
  }

  //exitway
  if ( square.exitway ) {
    var entry_point = [square.entry[0],square.entry[1]];
    player.current = entry_point;
    var _current_scene = square.next;
    scenes[_current_scene].grid[square.next[0]][square.next[1]] = player;
    current_scene = square.next;
    buildScene();
  }
}

var start = function(){

function move(the_next_square, axis, operation){
  if (the_next_square.hasOwnProperty("exitway")){
    scenes[current_scene].grid[player.current[0]][player.current[1]] = things.blank;

  }
  if ((!the_next_square.wall && !the_next_square.exitway) || (_.contains(player.keys, the_next_square.lock_name) && the_next_square.hasOwnProperty("lock_name"))) {
    //scene = scenes[current_scene].grid

    scenes[current_scene].grid[player.current[0]][player.current[1]] = things.blank;

    if (operation == "+"){
      if (axis == 0){
        player.current[0] = String(parseInt(player.current["0"]) + 1);
      } else{
        player.current[1] = String(parseInt(player.current["1"]) + 1);
      }
    } else {
      if (axis == 0){
        player.current[0] = String(parseInt(player.current["0"]) - 1);
      } else {
        player.current[1] = String(parseInt(player.current["1"]) - 1);
      }
    }
  }
}

var pushKeys = window.addEventListener("keydown", function(event) {
  if (event.keyCode == 81){
    $('#help-modal').modal('toggle');
  }

  if ( event.keyCode == 73 ) {
    displayUserItems();
    $('#item-modal').modal('toggle');
  }
if (modal.style.display == 'block'){
  if (event.keyCode == 32){
    event.preventDefault();
    modal.style.display = 'none';
    }
  } else {
  if (event.keyCode == 40 || event.keyCode == 83){
    event.preventDefault();
    var current = player.current[0];
    var next_ = parseInt(current) + 1;
    var next_square = scene[next_][player.current[1]];
    move(next_square, 0, "+");
    checkSquare(next_square);
    }
  if (event.keyCode == 38 || event.keyCode == 87){
    event.preventDefault();
    var current = player.current[0];
    var next_ = parseInt(current) - 1;
    var next_square = scene[next_][player.current[1]];
    move(next_square, 0, "-");
    checkSquare(next_square);

    }
  if (event.keyCode == 37 || event.keyCode == 65){
    event.preventDefault();
    var current = player.current[1];
    var next_ = parseInt(current) - 1;
    var next_square = scene[player.current[0]][next_];
    move(next_square, 1, "-");
    checkSquare(next_square);
    }
  if (event.keyCode == 39 || event.keyCode == 68){
    event.preventDefault();
    var current = player.current[1];
    var next_ = parseInt(current) +1;
    var next_square = scene[player.current[0]][next_];
    move(next_square, 1, "+");
    checkSquare(next_square);
    }
}

buildScene();
});

}

var total_seconds = 0;
var startClock = function(){setInterval(function updateClock(){
  total_seconds += 1;
  var pad_zero;
  if (total_seconds % 60 < 10) {
    pad_zero = '0';
  } else {
    pad_zero = '';
  }
  var time = (Math.ceil(total_seconds/60 - 1)) +' : ' + pad_zero + (total_seconds % 60);
  $(".clock").text(time)
}, 1000);
};

$("#start_btn").click(function(e){
  e.preventDefault()

  $(this).text('Stop');
  $('#welcomeJumbo').hide();
  $('.stat').show();
  $.ajax({
    //url: '/kings/json/',
    url: '/api/playquest/{{ game_id }}/',
    method: "GET",
    data: {},
    success: function(data){

      window.game_data = data
      // window.player = things.player

      try {
        var start_scene = game_data["game_data"]["game_data"]["starting_scene"]
        window.current_scene = start_scene //game_data["game_data"]["game_data"]["current_scene"]
        window.scenes = game_data["game_data"]["game_data"].scenes
        window.scene = game_data["game_data"]["game_data"].scenes[start_scene].grid
        window.player = game_data["game_data"]["game_data"]["player"]

      } catch (err) {
        var start_scene = game_data["game_data"]["game_data"]["starting_scene"]
        window.current_scene = game_data["game_data"]["starting_scene"]
        window.scenes = game_data["game_data"].scenes
        window.scene = game_data["game_data"].scenes[start_scene].grid
        window.player = game_data["game_data"]["player"]
      };
      buildScene();
      startClock();
      start();
    }
  });
});

</script>
