{% load staticfiles %}

<!doctype html>
<html>
<head>
  <title>King's Encounter</title>

  <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
  <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/modal.css' %}">

</head>


<body style="padding-top:30px;">


      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">👑&nbsp;&nbsp;PlayQuest ⚔</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <!-- <ul class="nav navbar-nav">
              <li class="stat"><a>Scene: <span id="scene-name"></span></a></li>
              <li class="stat"><a>Position: <span id="pointer-pos"></span></a></li>
            </ul> -->
            <ul class="nav navbar-nav navbar-right">
              <!-- <li><a class="btn" id="scene-menu" type="button" data-toggle="modal" data-target="#settings-modal">Settin<b>g</b>s ⚙️</a></li>
              <li><a class="btn" id="help-menu" type="button" data-toggle="modal" data-target="#help-modal"><b>H</b>elp 🔰</a></li>
              <li><a class="btn" id="scene-menu" type="button" data-toggle="modal" data-target="#scene-modal">S<b>c</b>enes 🎞</a></li>
              <li><a class="btn" id="save-level">Sa<b>v</b>e 💾</a></li>
              <li><a href="#music" type="button" data-toggle="modal" data-target="#myModal-music"><b>M</b>usic 🔊</a></li> -->
              <li><a href="#logout">Logout 🔏</a></li>
              <!-- <li><a href="{% url 'home:home' %}">Exit</a></li> -->
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>


<div class="container">

{% for game in user_games %}

  <p><a href="{{ game.play_url }}">{{ game.id }}</a></p>

{% endfor %}

</div>

</body>

</html>
