{% load staticfiles %}
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">👑&nbsp;&nbsp;PlayQuest ⚔</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <!-- <ul class="nav navbar-nav">
              <li class="stat"><a>Scene: <span id="scene-name"></span></a></li>
              <li class="stat"><a>Position: <span id="pointer-pos"></span></a></li>
            </ul> -->
            <ul class="nav navbar-nav navbar-right">
              <!-- <li><a class="btn" id="scene-menu" type="button" data-toggle="modal" data-target="#settings-modal">Settin<b>g</b>s ⚙️</a></li>
              <li><a class="btn" id="help-menu" type="button" data-toggle="modal" data-target="#help-modal"><b>H</b>elp 🔰</a></li>
              <li><a class="btn" id="scene-menu" type="button" data-toggle="modal" data-target="#scene-modal">S<b>c</b>enes 🎞</a></li>
              <li><a class="btn" id="save-level">Sa<b>v</b>e 💾</a></li>
              <li><a href="#music" type="button" data-toggle="modal" data-target="#myModal-music"><b>M</b>usic 🔊</a></li> -->
              <li><a href="#logout">Logout 🔏</a></li>
              <!-- <li><a href="{% url 'home:home' %}">Exit</a></li> -->
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>


{% for game in user_games %}

  <p><a href="{{ game.play_url }}">{{ game.id }}</a></p>

{% endfor %}
