{%extends 'base.html' %}
{% load staticfiles %}
{% load taggit_templatetags2_tags %}

{% block head_extra %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block nav %}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'yawlih:home' %}">未名公司 | ABC Company</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/admin/yawlih/">Admin</a></li>
        <li><a href="#">{{ request.user.username }}</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="{% url 'yawlih:user_logout' %}">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}

      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="{% url 'yawlih:home' %}">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="{% url 'yawlih:advanced_search' %}">Advanced Search</a></li>
            <li><a href="#"><i class="fa fa-weixin footer-icon" aria-hidden="true"></i></a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Competitors</h1>

          <div class="table-responsive">
            <table
                id="table"
                class="table table-striped" data-toggle="table"
                data-toolbar="#toolbar"
                data-search="true"
                data-show-refresh="true"
                data-show-toggle="true"
                data-show-columns="true"
                data-show-export="true"
                data-minimum-count-columns="2"
                data-show-pagination-switch="true"
                data-pagination="true"
                data-id-field="id"
                data-page-list="[10, 25, 50, 100, ALL]"
                data-show-footer="false">
              <thead>
                <tr>
                  <th data-sortable="true">Name</th>
                  <th data-sortable="true">Chinese</th>
                  <th data-sortable="true">Jobs</th>
                  <th data-sortable="true">News</th>
                  <th >Tags</th>
                </tr>
              </thead>
              <tbody>
                {% for company in companies %}
                <tr>
                  <td><a href="{% url 'yawlih:company_view' id=company.id %}">{{ company.name_en }}</a></td>
                  <td>{{ company.name_cn }}</td>
                  <td>{{ company.total_jobs }}</td>
                  <td>{{ company.total_news }}</td>
                  <td>{% for tag in company.tags.all %}<span class="label label-primary">{{ tag }}</span>  {% endfor %}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>


      <script>
          var $table = $('#table');
          $(function () {
              $('#toolbar').find('select').change(function () {
                  $table.bootstrapTable('destroy').bootstrapTable({
                      exportDataType: $(this).val()
                  });
              });
          })
      </script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
    <!-- <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script> -->
    <!-- <script src="../../dist/js/bootstrap.min.js"></script> -->
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <!-- <script src="../../assets/js/vendor/holder.min.js"></script> -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->


{% endblock %}
{% block footer %}{% endblock %}
