{% extends 'base.html' %}


{% block content %}

<h1 style="text-align:center;"><span style="font-size:1.5em;">⚗🔥💻🛠🎛</span><br />projects</h1>
<p>here is a list of various projects I have done, roughly in reverse chronological order. the projects here mostly cover programming and web development topics, but also includes other fun and interesting tech-related things I've done.</p>

{% for project in projects %}


<h2>{% if project.emoji %}<span style="font-size:1.5em">{{ project.emoji }}</span><br />{% endif %}<a style="text-decoration:none;" href="{{ project.link }}" target="_blank">{{ project.name }}</a> {% if project.github %}<a style="color:#913399" href="{{ project.github }}"><i class="fa fa-github fa-5 footer-icon" aria-hidden="true"> </i></a>{% endif %}</h2>
{% for tag in project.tags.all %}<div class="label label-primary">{{ tag }}</div> {% endfor %}
<br /><br />
<blockquote>
  {{ project.description | safe }}
</blockquote>
<!-- <div><a class="btn btn-primary" href="{{ project.detail_url }}">read more</a></div> -->
<hr>

{% endfor %}

<h1 style="text-align:center;"><span style="font-size:1.5em;">⚗🔥🤔🛠🎛</span><br />future projects</h1>
<p>If you are interested in collaborating on web or data-related projects like the ones listed here, I'm interested in remote or local (Washington, D.C. at the moment) collaboration, building MVPs, hackathons, contract work, pro-bono work and meeting strangers. <a href="mailto:briancaffey2010@gmail.com">email me</a>!</p>

{% endblock %}
