<br />

<footer style="background-color:#f8f8f8;" class="footer-distributed ">
  <div style="text-align:center;" class="container">
    <br />
  <div class="row">

    <div class="col-md-4">
        <div class="footer-left ">
            <h3>Brian Caffey</h3>
            <div>
                <p>Brian Caffey &copy; 2017</p>
                <p><a href="mailto:briancaffey2010@gmail.com ">briancaffey2010@gmail.com</a></p>
            </div>
        </div>
      </div>
          <div class="col-md-4">
        <div class="footer-center ">
          <br >
            <!-- <div>
                <i style="text-align:center;" class="fa fa-map-marker fa-lg "></i>
                <p>Thanks for visitng my site.</p>
            </div> -->
            <!-- <div>
                <i class="fa fa-phone "></i>
                <p>+355 67 600 67 67</p>
            </div> -->
            <div>
                <!-- <i class="fa fa-envelope fa-lg "></i> -->

            </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="footer-right ">
            <p class="footer-company-about ">

            </p>
        </div>
      </div>
    </div>
    </div>
    <br ><br ><br ><br ><br ><br ><br ><br >
</footer>
