

<footer style="background-color:#f8f8f8;" class="footer-distributed ">
  <div style="text-align:center;" class="container">
    <br />
  <div class="row">

    <div class="col-md-4">
        <div class="footer-left ">
            <h3>Brian Caffey</h3>
            <div>
                <p>Brian Caffey &copy; 2017</p>
                <p><a href="mailto:briancaffey2010@gmail.com ">briancaffey2010@gmail.com</a></p>
            </div>
        </div>
      </div>
          <div class="col-md-4">
        <div class="footer-center ">
          <span class="font-size:2em;">
            <br />
            <p>
              <a style="text-align:center; color:#3b5998; text-decoration:none;" href="https://facebook.com/brian.caffey">
                <i class="fa fa-facebook fa-5 footer-icon" aria-hidden="true"></i>
              </a>&nbsp;
              <a style="text-align:center; color:#0084b4; text-decoration:none;" href="https://twitter.com/briancaffey">
                <i class="fa fa-twitter fa-5 footer-icon" aria-hidden="true"></i>
              </a>&nbsp;
                <a style="text-align:center; color:#fb3958; text-decoration:none;" href="https://instagram.com/briancaffey">


              <i class="fa fa-instagram fa-5 footer-icon" aria-hidden="true"></i>
            </a>&nbsp;

              <a style="text-align:center; color:#7bb32e; text-decoration:none;" type="button" href="#logout" data-toggle="modal" data-target="#myModal-wechat">

          <i class="fa fa-weixin fa-5 footer-icon" aria-hidden="true"></i>
        </a>&nbsp;
        <a style="text-decoration:none;" href="https://stackoverflow.com/users/6084948/briancaffey">
          <i class="fa fa-stack-overflow fa-5 footer-icon" aria-hidden="true"> </i>
        </a>&nbsp;
        </p>
        </span>
          <br >
            <div>

            </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="footer-right ">

        </div>
      </div>
    </div>
    </div>
    <br ><br ><br ><br ><br ><br ><br ><br >

</footer>


<!-- WeChat Modal -->
<div class="modal fade" id="myModal-wechat" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">加我的微信</h4>
      </div>
      <div class="modal-body">
        <h1 style="text-align:center;">mrbrian88 <i class="fa fa-weixin fa-5 footer-icon" aria-hidden="true"></i>
</h1>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>

  </div>
</div>
