

<footer style="background-color:#f8f8f8;" class="footer-distributed ">
  <div style="text-align:center;" class="container">
    <br />
  <div class="row">

    <div class="col-md-4">
        <div class="footer-left ">
            <h3>Brian Caffey</h3>
            <div>
                <p>Brian Caffey &copy; 2017</p>
                <p><a href="mailto:briancaffey2010@gmail.com ">briancaffey2010@gmail.com</a></p>
            </div>
        </div>
      </div>
          <div class="col-md-4">
        <div class="footer-center ">
          <span class="font-size:2em;">
            <br />
            <br />
            <p>
              <a style="text-align:center; color:#3b5998; text-decoration:none;" href="https://facebook.com/brian.caffey">
                <i class="fa fa-facebook fa-5" aria-hidden="true"></i>
              </a>
              <a style="text-align:center; color:#0084b4; text-decoration:none;" href="https://twitter.com/briancaffey">
                <i class="fa fa-twitter fa-5" aria-hidden="true"></i>

                <a style="text-align:center; color:#fb3958; text-decoration:none;" href="https://instagram.com/briancaffey">


              <i class="fa fa-instagram fa-5" aria-hidden="true"></i>
            </a>
              <a style="text-align:center; color:#7bb32e; text-decoration:none;" href="https://wechat.com/briancaffey">

          <i class="fa fa-weixin fa-5" aria-hidden="true"></i>
        </a>
        <a href="https://stackoverflow.com/users/6084948/briancaffey">
          <i class="fa fa-stack-overflow fa-5" aria-hidden="true"></i>
        </a>
        </p>
        </span>
          <br >
            <div>

            </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="footer-right ">

        </div>
      </div>
    </div>
    </div>
    <br ><br ><br ><br ><br ><br ><br ><br >

</footer>
