{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load urlify %}

{% block head %}{{ instance.title }} | {{ block.super }}{% endblock %}

{% block content %}


<div class="albums-container container-fluid">

    <!-- Albums -->
    <div class="row">
        <div class="col-sm-12">
            <h3>Your Friends</h3>
        </div>

            {% for friend in friends %}
                <div class="col-sm-4 col-lg-2">
                    <div class="thumbnail">
                      <div class="container"><h2>{{ friend.user.username }}</h2>
                      <h4>{{ friend.emoji }}</h4></div>
                        <div class="caption">

                            <h4>{{ friend.description }}</h4>
                            {% if friend not in friends %}<h3>
                            <a class='btn btn-success' href="{% url 'friends:add_or_remove_friends' username=friend.user.username verb='add' %}">Add friend</a>
                            {% else %}
                            <a class='btn btn-danger' href="{% url 'friends:add_or_remove_friends' username=friend.user.username verb='remove' %}">Remove friend</a>
                            </h3>{% endif %}
                        </div>
                    </div>
                </div>
                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
            {% endfor %}

    </div>
</div>


<div class="albums-container container-fluid">

    <!-- Albums -->
    <div class="row">
        <div class="col-sm-12">
            <h3>All Users</h3>
        </div>

            {% for person in all_users %}
                <div class="col-sm-4 col-lg-2">
                    <div class="thumbnail">
                        <div class="container"><h2>{{ person.user.username }}</h2>
                      <h4>{{ person.emoji }}</h4></div>
                        <div class="caption">

                            <h4>{{ person.description }}</h4>
                            {% if person in friends %}<h3>
                            <a class='btn btn-danger' href="{% url 'friends:add_or_remove_friends' username=person.user.username verb='remove' %}">Remove friend</a>
                            {% else %}
                            <a class='btn btn-success' href="{% url 'friends:add_or_remove_friends' username=person.user.username verb='add' %}">Add friend</a>
                            </h3>{% endif %}
                        </div>
                    </div>
                </div>
                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
            {% endfor %}

    </div>
</div>


{% endblock content %}
