{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block head_extra %}
{{ form.media }}
{% endblock %}


{% block jquery %}
{% include 'post-create-jquery.html' %}
{% endblock %}


{% block content %}

<div class="col-sm-6">
	<h1>Preview</h1>


	<div class="content-preview">
	<h3 id='preview-title'></h3>
	<p id='preview-content'></p>
</div>

</div>

<div class="col-sm-6">
		<h1>Form</h1>
		<form method="POST" action="" enctype='multipart/form-data'>
		{% csrf_token %}
		{{ form | crispy }}
		<input class="btn btn-success" type="submit" value="Create Post" />
		<a class='btn btn-danger' href="{% url 'posts:list' %}">Cancel</a>
		</form>
	</div>


{% endblock %}
